body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #ffeef2;
    position: relative;
    overflow: hidden;
}

body::before, body::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    width: 50%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

body::before {
    left: 0;
    background-image: url('him1.jpg');
}

body::after {
    right: 0;
    background-image: url('her1.jpg');
}

.container {
    font-size: 1.5rem;
    margin-bottom: 40px;
    text-shadow: 0 0 15px #ff416c, 0 0 30px #ff758c;
}

button {
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    background: white;
    color: #ff4d6d;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(3.0);
}