
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 650px;
    padding: 20px;
    z-index: 10;
}

.slideshow {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 20px auto 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(255,77,109,0.6);
    /* clip-path: polygon(
        50% 95%,
        15% 65%,
        5% 40%,
        25% 15%,
        45% 25%,
        50% 40%,
        55% 25%,
        75% 15%,
        95% 40%,
        85% 65%
    ); */
}

.slide {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.slide.active{
    opacity: 1;
    transform: scale();
}

h1 {
    font-size: 1.8rem;
    line-height: 1.6;
    min-height: 150px;
}


.hidden {
    display: none;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInText {
    to { opacity: 1; }
}

/* 5️⃣ FLOATING EMOJIS */
.emoji {
    position: absolute;
    top: -50px;
    animation: float linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh);
        opacity: 0;
    }
}
